@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Kanit&family=M+PLUS+Rounded+1c&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=M+PLUS+Rounded+1c&display=swap");
@font-face {
  font-family: 'FontDois';
  src: url('/assets/font/Roman_New_Times.ttf') format('opentype');
}
@font-face {
  font-family: 'MinhaFonte';
  src: url('/assets/font/F-STEIN_.woff') format('woff');
}
@font-face {
  font-family: 'FontUm';
  src: url('/assets/font/SigilosDoOutroLado-Regular.ttf') format('truetype');
}


body {
  margin: 0;

  background-color: #07060c;
}

p {
  margin: 0;
}

strong {
  font-family: "Nunito Sans";
  font-size: 0.9rem;
  color: red;

  margin-left: 0.4rem;
  text-align: left;
  float: left;
}
a {
  color:white;
  text-decoration: none;
}

img  {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;

  background-color: #010001;
}

main{
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;


}

.editores{
  color: rgb(195, 199, 201);
  transition: color 0.2s ease;
}

.editores:hover{
  color: white;
}

.centralizar{
  width: 100%;
  height: auto;

  display: flex;
  align-items: top;
  justify-content: center;

  margin-top: 1rem;
}

#logo-menu img {
  width: 5rem;
  height: 5rem;

  margin-right: 10rem;
  user-select: none;
}

#logo-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#botoes-menu {
  margin: 0;

  display: flex;
  align-items: center;
}

#botoes-menu a {

  font-family: 'M PLUS Rounded 1c';
  font-size: 1.1rem;
  color: rgb(164, 166, 167);

  border: none;
  padding: 25px 10px;

  transition: color 0.3s ease;
  background-color: transparent;
}

#botoes-menu a:hover {
  color: white;

  cursor: pointer;
}

#discord {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;

  transition: background-color 0.3s ease;
  background-color: transparent;
  user-select: none;
}

#discord:hover {
  background-color: rgb(126, 123, 118, 0.3);
}

#discord img {
  width: 2rem;
  height: 2rem;
}

#drive {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;

  transition: background-color 0.3s ease;
  background-color: transparent;
  user-select: none;
}

#drive:hover {
  background-color: rgb(126, 123, 118, 0.3);
}

#drive img {
  width: 2rem;
  height: 2rem;
}

.links{
  width: auto;
  height: auto;

  display: flex;
  margin-left: 12rem;
}

.container {
  width: 60%;

  margin-top: 5rem;
}
#titulo {
  width: 100%;
  height: 8rem;

  margin-top: 3rem;
  border-bottom: 0.01rem solid #010001;

  font-family: "Kanit";
  font-size: 1.5rem;
  color: white;
  
  display: flex;
  text-align: center;
  justify-content: center;
  
  line-height: 1.8rem;
  text-shadow: 0.01rem 0.01rem 0.4rem yellow;
  
  margin-top: 1rem;
}

.title1 {
  width: 20.4rem;

  text-align: center;

  font-family: "Chivo Mono";
  font-size: 2rem;
  color: white;

  text-shadow: 0.1rem 0.1rem 1rem #003487;

  margin: 0 auto;

  margin-top: 10px;
}

.container h1 {
  height: 4rem;
  text-align: center;

  font-family: "M Plus Rounded 1c";
  font-size: 2.5rem;
  color: antiquewhite;

  text-shadow: 0.1rem 0.1rem 1rem #003487;

  margin: 0 auto;
}

.container p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container section {
  font-family: "Kanit";
  font: 1rem;
  color: white;

  text-align: justify;
  line-height: 1.6rem;
}

.lista-rituais {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
}
/*rituais*/
.container.ritual{

  border-radius: 1rem;
  width: 24rem;
  height: auto;

  margin: 0 0 0 1rem;

  top: 0;
  bottom: 1;

  background-color: rgb(18, 18, 18, 0.6);
}
.container.ritual h2 {
  height: 1rem;

  font-family: "Nunito Sans";
  font-size: 1rem;
  color: white;

  margin-top: 0.3rem;
}
.container.ritual h1 {
  width: 100%;
  height: 1rem;

  font-family: "Chivo Mono";
  font: 1rem;
  color: white;

  text-shadow: 0.1rem 0.1rem 1rem #003487;
  font-size: large;

  margin-top: 1rem;

  text-align: left;
}

container.ritual p {
  width: 100%;

  font-family: "Nunito Sans";
  font-size: 0.9rem;
  color: white;

  text-align: justify;

  margin-top: 0.5rem;
}

.text.rituais{
  width: 100%;
  height: auto;

  font-family: "Nunito Sans";
  font-size: 0.9rem;
  color: white;

  text-align: justify;
  
}

/*elementos*/
.sangue  {
  width: 4.5rem;
  height: 1.5rem;

  font-family: "Chivo Mono";
  font-size: 0.9rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  background-color: red;
}

.conhecimento {
  width: 8rem;
  height: 1.5rem;

  font-family: "Chivo Mono";
  font-size: 0.9rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  background-color: rgb(150, 158, 0);
}

.energia {
  width: 5rem;
  height: 1.5rem;

  font-family: "Chivo Mono";
  font-size: 0.9rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  background-color: rgb(117, 10, 135);
}

.morte {
  width: 4.5rem;
  height: 1.5rem;

  font-family: "Chivo Mono";
  font-size: 0.9rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  background-color: rgb(0, 0, 0);
}

.medo {
  width: 3.4rem;
  height: 1.5rem;

  font-family: "Chivo Mono";
  font-size: 0.9rem;
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  background-color: rgb(255, 255, 255);
}
/*fim elementos*/
/*fim rituais*/
.sobre {
  width: 90%;
  height: 19rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.sobre-text {
  width: 50rem;
  height: 19rem;
}

.sobre-text p {
  font-family: "M PLUS Rounded 1c";
  font-size: 0.9375rem;
  color: white;

  text-align: center;

  line-height: 1.2rem;
}

.table{
  width: 100%;
  height: 35rem;

  display: flex;
  align-items: center;
  justify-content: center;


  font-family: "M PLUS Rounded 1c";
  color: white;

}

.com{
  width: 33.33%;
  height: 100%;

  margin-left: 1rem;

}

table{
  width: 18rem;
  text-align: center;

  border-collapse: separate;
  border-spacing: 0;

  font-size: 0.7rem;
}

.tit{
  color: #8e8a3e;
}

.tt{
  width: 4rem;

  border-spacing: none;
  text-align: center;
  background-color: rgb(112, 106, 106);
}

/*elementos rituais*/

.titulo-principal{
  width: 100%;
  height: auto;

  font-family: 'Nunito sans';
  font-size: 2.5rem;
  color: white;

  text-shadow: 0.1rem 0.1rem 1rem #003487;

  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
  width: 100%;
  height: auto;

  font-family: 'Nunito sans';
  font-size: 2.3rem;
  color: white;

  text-align: center;
  text-shadow: 0rem 0rem 1rem #003487;

  margin-top: 4rem;
}

.text-base{
  width: 100%;
  height: auto;
}

.text.base{
  width: 100%;
  height: auto;

  display: flex;
}

.text-v1{
  width: 100%;
  height: auto;

  font-family: 'Kanit';
  font-size: 1rem;
  color: white;

  line-height: 1.6rem;
  text-align: justify;

}

.text-v2{
  width: 100%;
  height: auto;

  font-family: 'Kanit';
  font-size: 1rem;
  color: white;

  line-height: 1.6rem;
  text-align: center;
  background-color: red;
}

.text-v3{
  width: 81%;
  height: auto;

  font-family: 'Kanit';
  font-size: 1rem;
  color: white;

  line-height: 1.6rem;
  text-align: justify;

}

.image.rpg{
  width: 10rem;
  height: 10rem;

  margin: 0;
  user-select: none;
}


.cinco-elementos-img{
  width: 100%;
  height: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cinco-elementos-img img{
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}



#sangue{
  text-shadow: 0rem 0rem 1rem rgb(255, 0, 0);
}

#conhecimento{
  text-shadow: 0rem 0rem 1rem rgb(225, 255, 0);
}

#energia{
  text-shadow: 0rem 0rem 1rem rgb(166, 0, 255);
}

#medo{
  text-shadow: 0rem 0rem 1rem rgb(255, 255, 255);
}

#morte{
  text-shadow: 0rem 0rem 1rem rgb(45, 43, 43);
}


#sangues{
  text-shadow: 0rem 0rem 1rem rgb(255, 0, 0);
  font-style: italic;
}

#conhecimentos{
  text-shadow: 0rem 0rem 1rem rgb(225, 255, 0);
  font-style: italic;
}

#energias{
  text-shadow: 0rem 0rem 1rem rgb(166, 0, 255);
  font-style: italic;
}

#medos{
  text-shadow: 0rem 0rem 1rem rgb(255, 255, 255);
  font-style: italic;
}

#mortes{
  text-shadow: 0rem 0rem 1rem rgb(45, 43, 43);
  font-style: italic;
}

/* fim elementos rituais*/

/* base  */

.todas-origens{
  width: 100%;
  height: auto;

  display: flex;
  align-items: top;
  justify-content: center;

  margin-top: 1rem;
}

.base-origem{
  width: 15rem;
  height: auto;

  margin-left: 1rem;
}

.title-base{
  width: 100%;
  height: auto;

  font-family: 'Nunito sans';
  font-size: 1.5rem;
  color: white;

  text-shadow: 0rem 0rem 1rem #003487;

  border-bottom: 0.1rem solid white;
}

.text-base{
  font-family: 'Kanit';
  font-size: 0.9rem;
  color: white;

  text-align: justify;
  line-height: 1.4rem;
}

.ficha.base{
  width: 100%;
  height: 10rem;
}

.ficha.model{
  width: 63%;
  height: 30rem;

  border-top: 0.5rem solid #000000;

  background-image: url('https://www.designi.com.br/images/preview/10126733.jpg');
  background-repeat: repeat-x;
  background-color: #C3ADAB;
}

.status{
  width: 50%;
  height: auto;
}


.vd-base{
  width: 100%;
  height: 5rem;

  display: flex;
}

.name{
  width: 60%;
  height: 5rem;

  font-family: "FontDois";
  font-size: 1.7rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: left;

  background-color: #A61723;
}

.vd{
  width: 40%;
  height: 5rem;

  font-family: "MinhaFonte";
  font-size: 2rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0 0rem 1rem 0rem;

  background-color: #000000;
}

.title-mi{
  width: 100%;
  height: 2rem;

  display: flex;
  align-items: center;

  font-family: 'Nunito Sans';
  font-size: 0.8rem;
}

.base-at{
  width: 100%;
  height: 4rem;

  display: flex;

  border-top: 0.3rem solid #000000;
}

.sen{
  width: auto;
  height: 1.5rem;

  font-family: 'Nunito Sans';
  font-size: 1.4rem;
  color: white;
  
 display: flex;
 align-items: last baseline;

  background-color: #000000;
}

.ba{
  width: 7rem;
  height: auto;

  font-family: 'Nunito Sans';
  font-size: 0.8rem;
  color: black;

  display: flex;
  align-items: center;
}

/* fim base origens */

/* Barra de Rolagem */

/* Fundo que corre */
::-webkit-scrollbar-track {
  background-color: #010001;
}

/* Fundo que corre */

::-webkit-scrollbar {
  width: 0.6rem;
  background: #010001;
}

/* Linha que desce */

::-webkit-scrollbar-thumb {
  background: rgba(7, 7, 6, 0.3);
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 1.1rem 0.01rem rgb(198, 4, 14, 0.7);
}

@media screen and (max-width: 768px) {
  /* Estilos para telas menores que 768px */

  header{
    width: auto;
    height: 4rem;
  }

  #titul{
    margin-top: 1rem;
  }

  #botoes-menu{
    width: 70%;

    display: block;
    float: center;
    margin-left: 1rem;

    margin: 0;
  }

  #logo-menu img{
    margin: 0;

    display: none;
    user-select: none;
  }

  #botoes-menu a{
    font-size: 0.9rem;
    padding: 0;
  }

  #drive{
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0;
    margin-left: 0rem;

    position: relative;
  }

  #drive img{
    width: 2rem;
    height: 2rem;


  }

  #discord{
    display: none;
  }

  .container{
    width: 90%;
  }

  .titulo{
    font-size: 1.3rem;
  }

  .sobre{
    width: 100%;
    height: auto;
    margin: 0;

  }

  .text-v1{
    width: auto;
    font-size: 0.8;
  }

  .text-v2{
    font-size: 1rem;

    width: 100%;

    margin-top: 1rem;
    
  }

  .todas-origens{
    display: block;
  }

  .base-origem{
    width: 90%;
  }

  .text-base{
    width: 100%;
    height: auto;
    text-align: justify;
  }

  .titulo-principal{
    font-size: 1.5rem;
    text-align: center;
  }

  .cinco-elementos-img{
    width: 100%;
    height: auto;

  }

  .com{
    width: 10%;
    height: auto;

    display: block;
  }

  .table{
    width: auto;
    height: auto;

    display: block;
  }

  .red{
    font-size: 0.9rem;
    color: red;
  }

  .container.ritual{
    width: 100%;
    display: block;
    margin: 0;
  }

  .lista-rituais{
    display: block;

    margin-left: 0;
  }

  .main{
    display: block;
  }

  .centralizar{
    display: block;
    margin-left: 0;
  }

  .links{
    margin-left: 0;
  }

  .um.por{
    width: auto;
  }

  .text.base{
    display: block;
  }

  .text-v3{
    width: 100%;
  }

  .image.rpg{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

 .title-base p{
   margin-left: 5rem;
  }
}

@media screen and (max-width: 480px) {
  /* Estilos para telas menores que 480px */
}
