@import url('https://fonts.googleapis.com/css2?family=Kanit&family=M+PLUS+Rounded+1c&display=swap');

body{
    margin: 0;

    background-color: #07060C;
}

.menu{
    width: 100%;
    height: 5rem;

    display: flex;
    position: fixed;
    z-index: 2;

    background-color: #010001;
}

.logo-menu{
    width: 20rem;
    height: 4rem;
}

.logo-menu img{
    width: 5rem;
    height: 5rem;

    margin: 0rem 0 0 10rem;
}

.botoes-menu{
    width: 50rem;
    height: 5rem;

    display: flex;
    align-items: center;
}

.botoes-menu button{
    height: 5rem;

    font-family: 'M PLUS Rounded 1c';
    font-size: 1.1rem;
    color: rgb(164, 166, 167);

    border: none;
    margin-left: 1rem;

    transition: background-color 0.3s ease;
    background-color: transparent;
}

.botoes-menu button:hover{
    color: white;
    background-color: rgb(132, 138, 138, 0.4);
}

.discord{
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;
    margin-top: 1rem;

    transition: background-color 0.3s ease;
    background-color: transparent;
}

.discord:hover{
    background-color: rgb(126, 123, 118, 0.3);
}

.discord img{
    width: 2rem;
    height: 2rem;
}

.container{
    width: 100%;
    height: 460rem;
    position: absolute;
}

.cinco-emelentos-title{
    width: 100%;
    height: 4rem;

    margin: 6rem 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'M PLUS Rounded 1c';
    font-size: 2.5rem;
    color: rgb(164, 166, 167);
    z-index: 2;

    background: linear-gradient(to right, #ff0000,red, red, #ffff00,#410083, #410083, #23232d, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cinco-elementos-img{
    width: 97%;
    height: 31rem;

    margin-top: 3rem;
    margin-left: 1rem;

    z-index: -3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cinco-elementos-img img{
    width: 60%;

    border-radius: 1rem;
}

.text-cinco-elementos{
    width: 100%;
    height: 18rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;

    margin-top: 1.5rem;
}

.text-cinco-elementos-um{
    width: 40rem;
    height: 18rem;
}

.title-sangue{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'M Plus Rounded 1c';
    font-size: 2rem;
    color: white;

    z-index: 2;
    margin-top: 1rem;

    text-shadow: 0.1rem 0.1rem 1rem red;
}

.elemento-sangue-um{
    width: 100%;
    height: 14rem;

    display: flex;
}

.elemento-sangue-um img{
    width: 20rem;
    height: 20rem;

    margin-top: -3rem;
    margin-left: 24rem;

    z-index: -1;
}

.text-sangue-um{
    width: 25rem;
    height: 14rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;

    margin: 0 0 0 -1.5rem;
}

.elemento-sangue-dois{
    width: 100%;
    height: 14rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-sangue-dois{
    width: 40rem;
    height: 17rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;
}

.title-afinidade-sangue{
    width: 100%;
    height: 4rem;

    display: flex;

    margin-top: 1rem;
}

.title-afinidade-sangue p{
    width: 100%;
    height: 4rem;

    margin: 0.5rem 0 0 27rem;

    font-family: 'M Plus Rounded 1c';
    font-size: 1.6rem;
    color: white;

    z-index: -1;

    text-shadow: 0.1rem 0.1rem 1rem red;
}

.text-afinidade-sangue{
    width: 100%;
    height: 26rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-afinidade-sangue-um{
    width: 40rem;
    height: 26rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;
}

.title-rituais-sangue{
    width: 100%;
    height: 4rem;

    display: flex;

    margin-top: 1rem;
}

.title-rituais-sangue p{
    width: 100%;
    height: 4rem;

    margin: 0rem 0 0 27rem;

    font-family: 'M Plus Rounded 1c';
    font-size: 1.6rem;
    color: white;

    z-index: -1;

    text-shadow: 0.1rem 0.1rem 1rem red;
}

.text-rituais-sangue{
    width: 100%;
    height: 17rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-rituais-sangue-um{
    width: 40rem;
    height: 17rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;
}

.text-rituais-sangue-dois{
    width: 100%;
    height: 13rem;

    display: flex;
}

.text-rituais-sangue-dois img{
    width: 14rem;
    height: 14rem;

    z-index: -1;

    margin: -0.5rem 0 0 27rem;
}

.text-rituais-sangue-tres{
    width: 27rem;
    height: 13rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;
}

.text-rituais-sangue-quatro{
    width: 100%;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-rituais-sangue-cinco{
    width: 41rem;
    height: 10rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.2rem;
}

.title-criaturas-sangue{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;


    margin-top: 0rem;
}

.title-criaturas-sangue p{
    margin: 0rem 0 0 27rem;

    font-family: 'M Plus Rounded 1c';
    font-size: 1.6rem;
    color: white;

    z-index: -1;

    text-shadow: 0.1rem 0.1rem 1rem red;
}

.text-criaturas-sangue{
    width: 100%;
    height: 26.5rem;
}

.text-criaturas-sangue-um{
    width: 41rem;
    height: 26.5rem;

    margin: 0 0 0 27rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    line-height: 1.2rem;
    text-align: justify;
}

.title-elemento-morte{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'M Plus Rounded 1c';
    font-size: 2rem;
    color: white;

    text-shadow: 0.1rem 0.1rem 1rem rgb(172, 172, 172);

    margin-top: 0rem;
}

.text-elemento-morte{
    width: 100%;
    height: 14rem;

    display: flex;
}

.text-elemento-morte img{
    margin-left: 25rem;
    margin-top: -1rem;

    z-index: -1;
}

.text-elemento-morte-um{
    width: 28rem;
    height: 14rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    line-height: 1.6rem;
    text-align: justify;
}

.text-elemento-morte-dois{
    width: 100%;
    height: 46rem;

    display: flex;
}

.text-elemento-morte-tres{
    width: 41rem;
    height: 56rem;

    margin-top: 0rem;
    margin-left: 27rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    line-height: 1.6rem;
    text-align: justify;
}

.title-afinidade-morte{
    width: 100%;
    height: 4rem;

    margin: 0;
    display: flex;
    align-items: center;

    margin-top: 0rem;
}

.title-afinidade-morte p{
    font-family: 'M Plus Rounded 1c';
    font-size: 1.6rem;
    color: white;

    margin-left: 27rem;

    text-shadow: 0.1rem 0.1rem 1rem #acacac;
}

.text-afinidade-morte{
    width: 100%;
    height: 30rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-afinidade-morte-um{
    width: 41rem;
    height: 30rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.6rem;
}

.title-rituais-morte{
    width: 100%;
    height: 4rem;

    margin: -3rem 0 0 0;
    display: flex;
    align-items: center;
}

.title-rituais-morte p{
    font-family: 'M Plus Rounded 1c';
    font-size: 1.6rem;
    color: white;

    margin-left: 27rem;

    text-shadow: 0.1rem 0.1rem 1rem rgb(172, 172, 172);
}

.text-rituais-morte{
    width:100%;
    height: 14rem;

    display: flex;
}

.text-rituais-morte img{
    width: 14rem;
    height: 14rem;

    margin-top: -2rem;
    margin-left: 25rem;

    z-index: -1;
}

.text-rituais-morte-um{
    width: 29rem;
    height: 14rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.6rem;
}

.text-rituais-morte-dois{
    width: 100%;
    height: 32rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -3rem;
}

.text-rituais-morte-tres{
    width: 41rem;
    height: 32rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.6rem;
}

.title-criaturas-morte{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;

    margin: 0rem 0 0 0;
}

.title-criaturas-morte p{
    font-family: 'M Plus Rounded 1c';
    font-size: 1.6rem;
    color: white;

    margin: 0 0 0 27rem;

    text-shadow: 0.1rem 0.1rem 1rem rgb(172, 172, 172);
}

.text-criaturas-morte{
    width: 100%;
    height: 38rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-criaturas-morte-um{
    width: 41rem;
    height: 38rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.6rem;
}

.title-elemento-conhecimento{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'M Plus Rounded 1c';
    font-size: 2rem;
    color: white;

    margin: 4rem 0 0 0;

    text-shadow: 0.1rem 0.1rem 1rem yellow;
}

.text-elemento-conhecimento{
    width: 100%;
    height: 14rem;

    display: flex;
}

.text-elemento-conhecimento img{
    width: 14rem;
    height: 14rem;

    margin: -1rem 0 0 25rem;
    z-index: -1;
}

.text-elemento-conhecimento-um{
    width: 29rem;
    height: 14rem;

    font-family: 'Kanit';
    font-size: 1.2rem;
    color: #b7a8ff;

    text-align: justify;
    line-height: 1.6rem;
}

/* Barra de Rolagem */

/* Fundo que corre */
::-webkit-scrollbar-track {
    background-color: #010001;
}
    
    /* Fundo que corre */
    
::-webkit-scrollbar {
    width: 0.6rem;
    background: #010001;
    
}
    
    /* Linha que desce */

::-webkit-scrollbar-thumb{
    background: rgba(7, 7, 6, 0.3);
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 1.1rem 0.01rem rgb(198, 4, 14, 0.7);
} 
