@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Kanit&family=M+PLUS+Rounded+1c&family=Nunito+Sans&display=swap');

body{
    margin: 0;

    background-color: #07060C;
}

p{
    margin: 0;
}

span{
    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: red;
}

.menu{
    width: 100%;
    height: 5em;

    display: flex;
    position: fixed;
    z-index: 2;

    background-color: #010001;
}

.logo-menu{
    width: 20rem;
    height: 4rem;
}

.logo-menu img{
    width: 5rem;
    height: 5rem;

    margin: -0rem 0 0 10rem;
}

.botoes-menu{
    width: 50rem;
    height: 5rem;

    display: flex;
    align-items: center;
}

.botoes-menu button{
    height: 5rem;

    font-family: 'M PLUS Rounded 1c';
    font-size: 1.1rem;
    color: rgb(164, 166, 167);

    border: none;
    margin-left: 1rem;

    transition: background-color 0.3s ease;
    background-color: transparent;
}

.botoes-menu button:hover{
    color: white;
    background-color: rgb(132, 138, 138, 0.4);
}

.discord{
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;
    margin-top: 1rem;

    transition: background-color 0.3s ease;
    background-color: transparent;
}

.discord:hover{
    background-color: rgb(126, 123, 118, 0.3);
}

.discord img{
    width: 2rem;
    height: 2rem;
}

.container{
    width: 100%;
    height: 33rem;

    position: absolute;
    z-index: 1;

    margin: 4rem 0 0 0;
}

.titulo-site{
    width: 100%;
    height: 8rem;

    margin-top: 3rem;
    border-bottom: 0.01rem solid #010001;
}

.titulo-site p{
    font-family: 'Kanit';
    font-size: 1.5rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 0.9rem;
    text-shadow: 0.01rem 0.01rem 0.4rem yellow;

    margin-top: 1rem;
}

.sobre{
    width: 100%;
    height: 19rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.sobre-text{
    width: 50rem;
    height: 19rem;
}

.sobre-text p{
    font-family: 'M PLUS Rounded 1c';
    font-size: 0.9375rem;
    color: white;

    text-align: center;

    line-height: 1.2rem;
}
