@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Kanit&family=M+PLUS+Rounded+1c&family=Nunito+Sans&display=swap');

body{
    margin: 0;

    background-color: #07060C;
}

p{
    margin: 0;
}

span{
    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: red;
}

.menu{
    width: 100%;
    height: 5em;

    display: flex;
    position: fixed;
    z-index: 2;

    background-color: #010001;
}

.logo-menu{
    width: 20rem;
    height: 4rem;
}

.logo-menu img{
    width: 5rem;
    height: 5rem;

    margin: -0rem 0 0 10rem;
}

.botoes-menu{
    width: 50rem;
    height: 5rem;

    display: flex;
    align-items: center;
}

.botoes-menu button{
    height: 5rem;

    font-family: 'M PLUS Rounded 1c';
    font-size: 1.1rem;
    color: rgb(164, 166, 167);

    border: none;
    margin-left: 1rem;

    transition: background-color 0.3s ease;
    background-color: transparent;
}

.botoes-menu button:hover{
    color: white;
    background-color: rgb(132, 138, 138, 0.4);
}

.discord{
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;
    margin-top: 1rem;

    transition: background-color 0.3s ease;
    background-color: transparent;
}

.discord:hover{
    background-color: rgb(126, 123, 118, 0.3);
}

.discord img{
    width: 2rem;
    height: 2rem;
}

.container{
    width: 100%;
    height: 360rem;

    margin-top: 5.2rem;
    position: absolute;
}

.title-dos-rituais{
    width: 100%;
    height: 4rem;

    margin-top: 1rem;
}

.title-dos-rituais-1{
    width: 20.4rem;
    height: 4rem;

    display: flex;
    align-items: center;

    font-family: 'Chivo Mono';
    font-size: 2rem;
    color: white;

    text-shadow: 0.1rem 0.1rem 1rem #003487;

    margin-left: 22rem;
}

.titulo-rituais{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'M Plus Rounded 1c';
    font-size: 2.5rem;
    color: antiquewhite;
    
    text-shadow: 0.1rem 0.1rem 1rem #003487;

    margin-top: 2rem;
}

.exp-rituais{
    width: 100%;
    height: 19.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-rituais{
    width: 51rem;
    height: 19.3rem;

    font-family: 'Kanit';
    font: 1rem;
    color: white;

    text-align: justify;
    line-height: 1.6rem;
}

.lista-rituais{
    width: 100%;
    height: 26rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.base-ritual{
    width: 25rem;
    height: 26rem;

    margin-left: 1.5rem;

    background-color: rgb(127, 255, 212, 0.00);
}

.titulo-ritual{
    width: 100%;
    height: 1rem;

    font-family: 'Chivo Mono';
    font: 1rem;
    color: white;

    margin-top: 1rem;
    border-bottom: 0.1rem solid white;

    text-shadow: 0.1rem 0.1rem 1rem #003487;
}

.circulo{
    width: 4.5rem;
    height: 1.5rem;

    font-family: 'Chivo Mono';
    font-size: 0.9rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
    background-color: red;
}

.execucao{
    width: 10rem;
    height: 1rem;

    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: white;

    margin-top: 0.3rem;
}

.alcance{
    width: 10rem;
    height: 1rem;

    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: white;

    margin-top: 0.5rem;
}

.alvo{
    width: 100%;
    height: 1rem;

    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: white;

    margin-top: 0.5rem;
}

.duracao{
    width: 100%;
    height: 1rem;

    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: white;

    margin-top: 0.5rem; 
}

.resistencia{
    width: 13rem;
    height: 1rem;

    font-family: 'Nunito Sans';
    font-size: 1rem;
    color: white;

    margin-top: 0.5rem; 
}

.descricao{
    width: 100%;
    height: 13rem;

    font-family: 'Nunito Sans';
    font-size: 0.9rem;
    color: white;

    text-align: justify;

    margin-top: 0.5rem;
}

.circulo-1{
    width: 8rem;
    height: 1.5rem;

    font-family: 'Chivo Mono';
    font-size: 0.9rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
    background-color: rgb(165, 173, 12);
}

.circulo-2{
    width: 5rem;
    height: 1.5rem;

    font-family: 'Chivo Mono';
    font-size: 0.9rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
    background-color: rgb(117, 10, 135);
}

.circulo-3{
    width: 4.5rem;
    height: 1.5rem;

    font-family: 'Chivo Mono';
    font-size: 0.9rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
    background-color: rgb(0, 0, 0);
}

.circulo-4{
    width: 3.4rem;
    height: 1.5rem;

    font-family: 'Chivo Mono';
    font-size: 0.9rem;
    color: rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
    background-color: rgb(255, 255, 255);
}
